scikit-learn
seqeval
psutil
sacrebleu
rouge-score
matplotlib
git-python==1.0.3
faiss
streamlit
pandas
datasets
fire
pytest
conllu
pytorch-crf
pyarrow==1.0.1
tokenizers
sentencepiece==0.1.83
sacremoses
